<mat-card-header>
  <mat-card-title>
    <p style="float: left;">Lista przypomnień</p>
    <div style="float: right;">
      <h3 *ngIf="showAll">Dzisiejsza data: {{getTodayDate()}}</h3>
      <h3 *ngIf=" showAll===false">Najbliższy miesiąc: {{getTodayDate()}} - {{getMonthLaterDate()}}</h3>
      <button style="float: right;" mat-raised-button color="primary" mat-button (click)="changeView()">
        <span *ngIf="showAll">Najbliższy miesiąc</span>
        <span *ngIf="showAll === false">Pokaż wszystkie</span>
      </button>
    </div>
  </mat-card-title>
</mat-card-header>
<mat-card-content>
  <table mat-table [dataSource]="reminders">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef style="width: 60%">Nazwa</th>
      <td mat-cell *matCellDef="let element">{{element.name}}</td>
    </ng-container>
    <ng-container matColumnDef="commentCount">
      <th mat-header-cell *matHeaderCellDef style="width: 20%;">Ilość komentarzy</th>
      <td mat-cell *matCellDef="let element">{{element.commentCount}}</td>
    </ng-container>
    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef style="width: 20%">Data</th>
      <td mat-cell *matCellDef="let element">{{element.date}}</td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="sendId(row)"></tr>
  </table>
</mat-card-content>