<form [formGroup]="form" (submit)="onSubmit(form.value)">
    <mat-card>
        <mat-card-header>
            <mat-card-title>Rejestracja</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <mat-form-field>
                <input matInput placeholder="Login" type="text" formControlName="login">
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Hasło" type="password" formControlName="password">
            </mat-form-field>
            <span *ngIf="loginExists">Podany login już istnieje</span>
            <span *ngIf="inputError">Login i hasło muszą składać się z minimum 4 znaków, login nie może zawierać spacji</span>
        </mat-card-content>
        <mat-card-actions>
            <button type="submit" mat-raised-button color="primary">Zarejestruj</button>
        </mat-card-actions>
    </mat-card>
</form>